::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #786c6c;
  border-radius: 6px;
  border: 3px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

#profile:hover,
#logout:hover,
#chats:hover {
  background-image: radial-gradient(
    circle,
    #120f85,
    #122190,
    #13309b,
    #173ea5,
    #1e4bae,
    #2457b8,
    #2c64c2,
    #3470cb,
    #3d7fd7,
    #488ee4,
    #539def,
    #5facfb
  );
}

/* chat messages */

.triangle-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid gray;
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid green;
}
